* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 36px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.header-container {
    background-color: #1F2937;
    color: #E5E7EB;
}

.temp {
    margin: 0 auto 96px;
    width: 66.7%;
    padding: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 96px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.subheader-container {
    display: flex;
    gap: 96px;
}

.subheader-title {
    flex: 1;
}

.subheader-title > h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subheader-title > p {
    font-size: 18px;
    color: #E5E7EB;
}

.subheader-title > h1,
.subheader-title > p {
    margin: 0;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bolder;
    border: none;
    padding: 6px 24px;
    border-radius: 4px;
}

.subheader-title > button {
    margin-top: 18px;
}

.subheader-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #989899;
    color: #E5E7EB;
}

.information-title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 56px;
}

.card-image {
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

.card-subtext {
    width: 150px;
    text-align: center;
}

.quote-container {
    background-color: #E5E7EB;
}

.quote-container > .temp {
    margin-top: 96px;
    margin-bottom: 56px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote-body {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.quote-citation {
    margin-top: 16px;
    width: 80%;
    font-size: 18px;
    text-align: right;
    font-weight: bolder;
}

.action-container > .temp {
    margin-top: 96px;
    display: flex;
    background-color: #3882F6;
    border-radius: 5px;
    color: #E5E7EB;
    justify-content: space-between;
    padding: 56px 136px;
}

.action-container h3, p {
    margin: 0;
}

.call-to-action-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-container button {
    border: 2px solid #E5E7EB;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    size: 18px;
    padding: 24px 0 24px;
}